extends adminlayout

block content
    #container
        h1. 
            Song List
        #primary

            #trackInfo
                h2 Track Info
                p
                    strong Title:
                    |  <span id='trackInfoName'></span>
                    br
                    strong Artist:
                    |  <span id='trackInfoArtist'></span>
                    br
                    strong Url:
                    |  <span id='trackInfoUrl'></span>
                    br
                    strong Id:
                    |  <span id='trackInfoId'></span>
                    br
                    |  <span id='editTrack'></span><span id='deleteTrackBtn'></span>
            #editTrackForm
                
        #content
            h2 Song List
            #songList
               table
                   thead
                        th Track
                        th Artist
                        th Info
                    tbody
                    
        #secondary