extends layout

block content
    h1= title
    p Welcome to #{title}
    div
        ul
            li 
                a(href="/library")= "Library"
            li
                a(href="/newsong")= "Add Track"

