extends layout

block content
    h1= title
    p Welcome to #{title}
    div
        a(href='/play') Browse as a Guest 
        p or login below:
    #login
        form(class='form-signin', action='/login', method='POST')
            input(type='text', name='username', class='form-control', placeholder='email', required, autofocus)
            input(type='password', name='password', class='form-control', placeholder='password', required)
            button(type='submit') Sign in
    a(href='/signup') Create an account
          #message
              if message
                h1.text-center.error-message #{message}