extends adminlayout

block content
    #container
        h1 mixtape.press 
            
        #primary
            #account
                - var User = (user || '')
                if  User === ''
                    p welcome Guest
                    a(href='/' class='button') Sign In
                else
                    p welcome #{user.username}
                    a(href='/signout' class='button') Sign Out
            #trackInfo
                h3 Track Info
                button(id='addTrack' type='button') Add Track
                p                    
                    strong Title:
                    |  <span id='trackInfoName'></span>
                    br
                    strong Artist:
                    |  <span id='trackInfoArtist'></span>
                    br
                    strong Url:
                    |  <span id='trackInfoUrl'></span>
                    br
                    |  <span id='editTrack'></span><span id='deleteTrackBtn'></span>
            #editTrackForm
                
        #content
            button(type='button' id='loadSongs') browse tracks
            button(type='button' id='loadPlaylist') browse playlists
            #playLists
            #songList
               h3 Song List
               table
                   thead
                        th Track
                        th Artist
                        th Info
                        th Play
                    tbody
                #page_navigation
                    
        #secondary
            audio(id="audio" preload="auto" tabindex="0" controls="" type="audio/mpeg")
                source(id="audiosource" type="audio/mp3" src="")
            button(type="button" id="rewindaudio")="<|"
            button(type="button" id="ffaudio")="|>"
            button(type="button" id="removeselected") remove selected
            button(type="button" id="skiptoselected") play selected
            button(type='button' id='savePlaylist') save playlist

            #playlist    
                ul
