extends adminlayout

block content
    .container(style='margin-top: 15px')
        .row
            #account(class='one column')
                    - var User = (user || '')
                    if  User === ''
                        span welcome Guest
                        a(href='/' class='button') Sign In
                    else
                        span welcome #{user.username}
                        a(href='/signout' class='button') Sign Out   
            #headline(class='eleven columns')
                h1 mixtape.press
                
        .row
            #content(class='seven columns')
                button(id='showPlayer' type='button button-primary') Show Player
                button(type='button' id='loadSongs') browse tracks
                button(type='button' id='loadPlaylist') browse playlists
                button(id='addTrack' type='button') Add Track
                #playLists
                #trackInfo(style='display: none')
                    h3 Track Info
                    p                    
                        strong Title:
                        |  <span id='trackInfoName'></span>
                        br
                        strong Artist:
                        |  <span id='trackInfoArtist'></span>
                        br
                        strong Url:
                        |  <span id='trackInfoUrl'></span>
                        br
                        |  <span id='editTrack'></span><span id='deleteTrackBtn'></span>
                    #editTrackForm
                #songList
                   table
                       thead
                            th Track
                            th Artist
                            th Info
                            th Add to playlist
                        tbody
                    #page_navigation
            #player(class='five columns')
                audio(id="audio" preload="auto" tabindex="0" controls="" type="audio/mpeg")
                    source(id="audiosource" type="audio/mp3" src="")
                button(type="button" id="rewindaudio")="<|"
                button(type="button" id="ffaudio")="|>"
                button(type="button" id="removeselected") remove selected
                button(type="button" id="skiptoselected") play selected
                button(type='button' id='savePlaylist') save playlist
    
                #playlist    
                    ul

