extends layout

block content
    h1 Search Results
 
    p=searchterms
                
    div
        ul
            li 
                a(href="/")="Home" 
            li
                a(href="/newsong")= "Add Track"