body {
  background-color: black;
}

#headline h1{
	text-align: left;
	margin-left: 20%;
	color: lightslategray;
}
#account {
    color: white;
}

#content {
    background: gray;
    max-width:500px;
}

#player {
    background: darkslategray;
    max-width: 500px;
}
#player button{
	color: white;
}

#audio{
	display: block;
	margin: 5px auto;
}

#footer {
    clear: both;
}

a {
  color: #00B7FF;
}

#songList {
	margin:0 0 auto;
}

			
#trackInfo {
	width:100%;
	position:relative;
}

	#trackInfo p {
		padding:5px;
		border:1px solid black;
	}
	
	#trackInfo p a {
		padding:3px;
	}

 	.urlttextarea {
 		width:170px;
 		height: 35px;
 	}

#playlist {
	background-color: black;
	color: white;
}

	#playlist ul {
		list-style-type: none;
		padding: 0;
		margin: 0;
	}

	#playlist ul li {
		border: 1px solid gray;
		margin: -1px;
		padding: 4px;
	}

	.highlightedplaylisttrack {
		background-color: gray;
	}
	
	.selected-playlisttrack{
		background-color: white;
		color: black;
	}
	
	.currently-playing{
		background-color: steelblue;
		color:white;
	}

